
</br>
</br>

<div class="jumbotron">
	<div class="starter-template">
		<h1>About</h1>
	<p class="lead">
		This site was created Synapps as a final project in the Spring 2014 CSC 210 class.
	</p>
	<p class="lead">
		This is a site where students at the U of R will come to be able 
		to read and write reviews of the different on campus dining options.
	</p>
</div>

<p> Some of the features we plan to implement are:</p>

<ul class >
	<li>User Registration</li>
	<li>Accurate dining hall menus</li>
	<li>Reviews of individual foods</li>
	<li>Review rating system to ensure the most helpful reviews are seen by all</li>
</ul>
</div>

