<div class="padder">
<div class="jumbotron">
	<div class="starter-template">
		<h1>About Us</h1>
	<p class="lead">
		URHungry is a review site for University of Rochester students.
	</p>
	<p class="lead">
		We hope this site will be useful in deciding your future meals, or in the very least warn you on what to avoid.
		Our food information is taken directly from the U of R dining website. 
	</p><br /><br />
	<h2>Comments?</h2>
	<p> We love feedback! Head to our <%= link_to 'Contact', :controller => '/welcome', :action => 'contact'%> page and drop us a line! </p>
</div>

</div>
</div>

