
</br>
</br>
<div class="jumbotron">
	<div class="starter-template">
		<h1>Contact Info</h1>
	<p class="lead">
		Synapps can be found in CSC 210 on Tuesdays and Thursdays
		in Dewey from 2:00-3:15PM.
	</p>
	</div>
	


<ul class="lead">
	<li>Anis: akallel@u.rochester.edu</li>
	<br/>
	<li>Charlie: ckelman@u.rochester.edu</li>
	<br/>
	<li>Jennifer: juvina@u.rochester.edu</li>
	<br/>
	<li>Tim: tsebring@u.rochester.edu</li>
	<br/>
	<li>Das Volf: whonore@u.rochester.edu</li>
</ul>
</div>


