<div class="starter-template">

<div class="starter-template jumbotron">
	<h1>This is going to be the home page for our site!</h1>
	<p>A little more than nothing really works right now but golly gee does it look nice!</p>
</div>
</div>
