<div class="starter-template">
<<<<<<< HEAD

<div class="jumbotron">
        <h1>This is going to be the home page for our site!</h1>
        <p>Nothing really works right now but golly gee does it look nice!</p>
      </div>
			


=======
	<h1>Welcome to URHungry!!</h1>
	<p class="lead">This is going to be the home page for our site.
	<br> Nothing really works right now but golly gee does it look nice!.</p>
>>>>>>> f38baeb7881070a9c959c12db2e4c7162fb5a6e1
</div>