<div class="starter-template">
<%if(notice != nil)%>
	<h2 class="alert alert-success starter-template"><%= notice %></h2>
<% end %>

<div class="starter-template jumbotron">
	<h1>This is going to be the home page for our site!</h1>
	<p>A little more than nothing really works right now but golly gee does it look nice!</p>
</div>

</div>
