<div class="starter-template">

	<h1>Welcome to URHungry!!</h1>
	        <p class="lead">This is going to be the home page for our site.
	        	<br> Nothing really works right now but golly gee does it look nice!.</p>
</div>