<div class="starter-template">
	<div class="starter-template jumbotron">
		<h1>URHungry</h1>
		<h2>Reviews for students. By students.</h2>
		<p>
			With URHungry, you can review and rate foods by dining hall. <br />
			To get started, click on a dining hall above or search for a food. <br />
			Create an account to add reviews. <br />
		</p>
		<h2>Let your voice be heard.</h2>
	</div>
</div>




